.sidebarWrap::-webkit-scrollbar {
  width: 6px;
}

.sidebarWrap::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.sidebarWrap::-webkit-scrollbar-thumb {
  background: #8CA19F;
  border-radius: 3px;
}
/* .contentWrap {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
} */

.eachRowWrap {
  display: grid;
  grid-template-columns: repeat(16, auto);
}
.draggedImage {
  width: auto !important;
  height: auto !important;
}


/* css end */


